<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="post">
        <label for="name">Product Name:</label>
        <input type="text" name="name" id="name" placeholder="product name"> <br>
        <label for="price">Product Price: </label>
        <input type="number" name="price" id="price" placeholder="product price"> <br>
        <label for="category">Select Category: </label>
        <select name="category" id="category">
            <% for(let category of categories) { %>
            <option value="<%= category %>"><%= category %></option>
            <% } %>
        </select>
        <button>Add to Products</button>
    </form>
    <a href="/products">All Products</a>
</body>

</html>